@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="AppUsers">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                UserName
            </th>
            <th>
                Name
            </th>
            <th>
                DateOfBirth
            </th>
            <th>
                Gender
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Location
            </th>
            <th>
                Prefered Sport
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.DateOfBirth
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @item.PreferedSport
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                    <a class="DeletionConfirm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("table#pages tbody").sortable({
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#pages tbody").sortable("serialize");
                let url = "/admin/pages/reorder";

                $.post(url, ids, function () { });
            }
        })
    </script>

}