@model Page

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Model.Id
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @Model.DateOfBirth
        </dd>
        <dt>
            Gender
        </dt>
        <dd>
            @Model.Gender
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Model.Email
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Model.Address
        </dd>
        <dt>
            Telephone Number
        </dt>
        <dd>
            @Model.TelPhone
        </dd>
        <dt>
            Location
        </dt>
        <dd>
            @Model.Location
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
