@model IEnumerable<Page>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@ViewBag.MembersSystem
<p>
    <a asp-action="Create">Create New User</a>
</p>
<table class="table sorting" id="pages">
    <thead>
        <tr class="home">
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Gender
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Telephone Number
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Name">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.DateOfBirth
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.TelPhone
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <!--@if (item.Name != "John")
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    -->
                    <a class="DeletionConfirm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("table#pages tbody").sortable({
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#pages tbody").sortable("serialize");
                let url = "/admin/pages/reorder";

                $.post(url, ids, function () { });
            }
        })
    </script>

}