@model IEnumerable<SportsCategory>

@{
    ViewData["Title"] = "Sport Categories";
}

    <h2>Sport Categories</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Duration(min)
            </th>
            <th>
                Capacity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Duration
            </td>
            <td>
                @item.Capacity
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                <a class="DeletionConfirm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
